@import '../../styles/variables';

.home {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-fondo;
  min-height: 100vh;

  h2 {
    text-align: center;
    color: $color-primario;
    margin-bottom: 3rem;
    font-size: $titulo-seccion;
  }

  .news-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    width: 100%;
  }

  @media (min-width: 900px) {
    .news-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }
  }

  @media (min-width: 1200px) {
    .news-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}